@import url('https://rsms.me/inter/inter.css');

:root {
	--bg-main: hsl(30, 20%, 98%);
	--bg-sidebar: hsl(220, 12%, 95%);

	--txt-main: hsl(240, 7%, 19%);

	--action-primary: hsl(179, 41%, 32%);
	--action-hover: hsl(179, 41%, 22%);
	--action-light: hsl(0, 0%, 100%);

	--priority-high-alt: hsl(29, 96%, 56%);
	--priority-high-soft: hsl(358, 33%, 59%);

	--border-clr: hsla(16, 40%, 12%, 0.1);
	--shadow-sm: 0 2px 8px -2px hsla(240, 7%, 19%, 0.15);
	--shadow-md: 0 12px 24px -4px hsla(240, 7%, 19%, 0.2);
	--gradient-action: linear-gradient(
		135deg,
		var(--action-primary),
		var(--action-hover)
	);

	--sidebar-width: 280px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--bg-main);
	color: var(--txt-main);
	letter-spacing: -0.01em;
	line-height: 1.6;
	font-family: 'Inter', sans-serif;
	@supports (font-variation-settings: normal) {
		font-family: 'Inter var', sans-serif;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input,
select {
	font: inherit;
}

button {
	color: var(--action-primary);
	padding: 0.6rem 0.8rem;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

button:hover {
	background: var(--gradient-action);
	color: var(--action-light);
}

.app-container {
	flex: 1;
	display: grid;
	grid-template-columns: var(--sidebar-width) 1fr;
}

#sidebar {
	border-right: 1px solid var(--border-clr);
	padding: 2rem;
	gap: 1.5rem;
	display: flex;
	flex-direction: column;
}

#project-list {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.project-item,
.todo-item {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.delete-btn {
	margin-left: auto;
}

#todo-display {
	padding: 2rem;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#todo-items {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	background: var(--action-light);
	border-radius: 12px;
	padding: 2rem;
	margin-bottom: 1rem;
	border: 1px solid var(--border-clr);
	box-shadow: var(--shadow-sm);
	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;
}

#todo-items:hover {
	transform: translateY(-2px);
	box-shadow: var(--shadow-md);
}

.form-group,
.form-dropdown,
.form-submit {
	display: flex;
	flex-direction: column;
}

input,
select {
	border: none;
	border-bottom: 1px solid var(--border-clr);
	background-color: transparent;
	color: var(--txt-main);
	padding: 0.8rem 0;
	transition: border-color 0.3s ease;
}

input:focus {
	outline: none;
	border-bottom: 1px solid var(--action-primary);
}

.site-footer {
	margin: 0 auto;
	padding: 1.5rem;
}
